*{
    cursor: pointer;
}
.section{
    display: flex;
    justify-content: space-between;
    height: 5vh;
    align-items: center;
}
.bi{
    color: blue;
    
}
.bi-trash3-fill{
    color: red;
}
.fxnBtn{
    background: none;
    border-style: none;
}

.modal-body input{
    float: right;
}

.selected{
    background-color: #93b7f4;
}
.section{
    padding: 0 1rem;
}
.bi-check-lg{
    color: gray;
}

input[type=number]{
    outline: none;
    background-color: #f6f4f4;
}
input[type=number] {
    border: 3px solid #ccc;
    -webkit-transition: 0.5s;
    transition: 0.5s;
    outline: none;
  }
input[type=number]:focus {
    border: 3px solid #336ed5;
  }